*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  /* background-color: #fbeedf; */
  background-color: #fff8f0;
  color: black;
  font-family: Arial, sans-serif;
}


.navbar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 20rem;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.nav-links{
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
}


.nav-links li{
  list-style: none;
}
.nav-links a{
  text-decoration: none;
  color: black;
}
.nav-links a:hover {
  color: #e67e22;
}

.nav-links a.active {
  color: #d35400;
  font-weight: bold; 
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .navbar{
    padding: 1rem 5rem;
  }
  
}

@media (max-width: 900px) {

  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background: #333;
    padding: 0;
    position: absolute;
    top: 4rem;
    left: 10px;
    margin: 0;
  }
  .nav-links.show {
    display: flex;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 1rem;
  }
}

@media (max-width: 500px) {
  .navbar{
    padding: 1rem 1.5rem;
  }
}